{% extends 'base.html.twig' %}

{% block nav %}

    {% for category in categories %}
        <li class="item {{ category.name in app.request.requestUri ? 'active' : '' }}"><a href="{{ path('home_page', { 'name': category.name }) }}">{{ category.name | upper }}</a></li>
    {% endfor %}

{% endblock %}

{% block section %}
    {{ form(form) }}
{% endblock %}
